<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs/${processname}" />
    <targets async="false">
      <target name="c" xsi:type="Console" />
      <target name="f" xsi:type="File" fileName="${logDirectory}/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="c" />
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <clear />
    <!-- 源数据 -->
    <add key="DataPath" value="test\Data" />

    <!-- PD0格式归档数据 -->
    <add key="OutputPath_TradingDay" value="test\Data_TradingDay" />
    <add key="OutputPath_Instrument" value="test\Data_Instrument" />
    <add key="DefaultExchange" value="Undefined" />
    <add key="SevenZipExePath" value="D:\Program Files\7-Zip\7z.exe" />

    <!-- HDF5格式归档数据 -->
    <add key="HDF5_TradingDay" value="test\HDF5_TradingDay" />
    
    <!-- 清理源数据 -->
    <add key="Clear_DataPath" value="False" />
    <add key="Clear_OutputPath_TradingDay" value="False" />
  </appSettings>
</configuration>