<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs/${processname}" />
    <targets async="false">
      <target name="c" xsi:type="Console" />
      <target name="f" xsi:type="File" fileName="${logDirectory}/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="c" />
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <clear />
    <add key="DataPath" value="test\Data" />
    <add key="ConfigPath" value="test\订阅全部期货" />

    <!-- 与合约下载器操作的是同一文件 -->
    <add key="InstrumentInfoListFileName" value="InstrumentInfoList.json" />
    <!-- 将实际订阅的合约保存，如果使用相对实际会写到DataPath下对应的文件，请不要与上一文件同目录，否则死循环 -->
    <add key="SaveAsInstrumentInfoListFileName" value="InstrumentInfoList.json" />
    <add key="SaveAsTradingDayFileName" value="TradingDay.json" />
    
    <!-- 行情部分，读取连接信息进行登录，读取合约列表进行订阅，考虑需要排除的信息 -->
    <add key="ConnectionConfigListFileName" value="MdConnectionConfigList.json" />
    
    <add key="IncludeFilterListFileName" value="MdIncludeFilterList.json" />
    <add key="ExcludeFilterListFileName" value="MdExcludeFilterList.json" />

    <!-- 读取计划任务 -->
    <add key="ScheduleTasksListFileName" value="ScheduleTasks.json" />
  </appSettings>
</configuration>