<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <clear />
    <add key="DataPath" value="D:\test\Data"/>
    <add key="ConfigPath" value="D:\test\订阅全部期货"/>

    <add key="InstrumentInfoListFileName" value="InstrumentInfoList.json"/>
    
    <!-- 行情部分，读取连接信息进行登录，读取合约列表进行订阅，考虑需要排除的信息 -->
    <add key="ConnectionConfigListFileName" value="MdConnectionConfigList.json"/>
    <add key="IncludeFilterListFileName" value="MdIncludeFilterList.json"/>
    <add key="ExcludeFilterListFileName" value="MdExcludeFilterList.json"/>
    <!-- TradeInstrumentInfoListFileName和MarketDataInstrumentInfoListFileName可以指向同一文件 -->
  </appSettings>
</configuration>